/* 
Global styles
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
  background-color: red;
  color: #384b38;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

h1 {  
  background-color: #384b38;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #000;
  font-family: system-ui;
  margin-left: 20px;
}

label {
  color: #ffffff;
  font-family: system-ui;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
*/
/* Button styles */
/* button {
  background-color: #384b38;
  color: #000000;
  border: 2px solid #000000;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
}  */


/* Link styles */
/* a {
  text-decoration: none;
}

p {
  color: #ffffff;
}
 */
