.recipe-details {
    width: 75%;
    padding: 1rem;
    overflow-y: auto;
    max-height: 50vh; /* Limit the height to avoid full page scroll */
}

.recipe-details img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.ingredients, .instructions {
    margin-top: 1rem;
}

.ingredients ul, .instructions ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.additional-info {
    margin-top: 1rem;
}
